.album-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.img-holder {
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.img-holder:hover {
  transform: scale(1.05);
}

.img-holder img {
  width: 500px;
  height: auto;
  display: block;
}

.cardStyle{
    transition: all 0.3s;
}

.cardStyle:hover{
    transform: scale(1.02);
}